.button {
    @extend %font-primary;
    @include font(1.6rem, 2.2rem, 600);
    padding: 15px 38px 16px;
    border-radius: 4px;
    cursor: pointer;
    @extend %transition;
    &_header {
        padding: 11px 27px 13px;
    }

    &_promo {
        padding-left: 41px;
        padding-right: 41px;
    }

    &_bordered {
        background: $color-light;
        border: 1px solid $color-border-button;
        color: $color-text-button;
        &:hover {
            background: $color-border-button;
        }
    }

    &_colored {
        background: $color-primary;
        color: $color-light;
        border: 1px solid $color-primary;
        &:hover {
            background: $color-additional;
            border-color: $color-additional;
        }
    }
}

.link-button {
    color: $color-primary;
    @extend %font-add;
    display: flex;
    align-items: center;
    .ico {
        margin-right: 9px;
    }

}

.link-button__text {
    margin-left: 9px;
}


