.logo-object {
    @include media-mobile {
        width: 130px;
        height: auto;
    }
}

.logo-path {
    @extend %transition;
}

.logo-svg:hover {
    .logo-path {
        fill: $color-primary;
    }
}
