.footer {
    padding: 56px 0 72px;
    @include media-tablet {
        padding: 46px 0;
    }
    @include media-mobile {
        padding: 31px 0 8px;
    }
}

.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }

}

.footer__logo {
    margin-right: 152px;
    @include media-tablet {
        padding-bottom: 34px;
        margin-right: 0;
    }
    @include media-mobile {
        padding-bottom: 27px;
    }
}

.footer-navigation {
    flex: 1;
    @include media-mobile {
        flex-direction: column;
    }
}

.footer-navigation__title {
    @include font(2rem, 3rem, 600);
    margin: 0 0 15px;
    @include media-mobile {
        @include font(1.8rem, $weight: 600);
        margin-bottom: 5px;
    }
}

.footer-navigation__links {
    @extend %font-add;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
    a {
        @include font(1.6rem, 3.5rem, 400);
        color: $color-text;
        text-decoration: none;
        @extend %transition;
        &:hover {
            color: $color-primary;
        } 
    }
    
    @include media-mobile {
        margin-bottom: 20px;
    }
}